.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.dark {
  background-color: #282c34;
  color: white;
}

.dark a, .dark a:hover {
  color: white;
}

.senders {
  color: #282c34;
}

.senders-tit {
  position: relative;
  width: 130px;
  margin: 0 auto;
}

.senders-tit::before {
  content: '';
  width: 100%;
  height: 30%;
  position: absolute;
  bottom: 0;
  left: 0px;
  background: #f56565;
  z-index: -1;
  transform: rotate(-1deg);
}
